<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar class="subtitle">
        <h1> Qui suis-je ? </h1>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box class="main-box blue scrollable" style="width: 47.5vw;">
            <app-user-list
                [users]="filteredUsers"
                (userClick)="onUserClick($event)"
            />
        </app-inner-box>
    </app-body>

</app-template>