<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-medium-button
        class="navbar-button"
        [routerLink]="['/ergo-stat-selected']"
        routerLinkActive="active"
    >
        <p class="name">
            <app-user-card [user]="user" class="horizontal navbar"/>
        </p>
    </app-medium-button>

    <app-medium-button
        class="navbar-button"
        [routerLink]="['/ergo-config-selected']"
        routerLinkActive="active"
    >
        Configuration
    </app-medium-button>

    <app-medium-button
        class="navbar-button red"
        (click)="back()"
    >
        Retour
    </app-medium-button>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <!-- Sections' List : -->
    <app-side-box class="main-box button-list">
        <app-small-button
            [routerLink]="[]"
            [queryParams]="{ 'section': 0 }"
            [class.active]="currSection === 0"
            style="width: 100%;"
        >
            Stats
        </app-small-button>

        <p>HISTORIQUE :</p>

        <app-small-button
            *ngFor="let i of availableHistorySections;"
            [routerLink]="[]"
            [queryParams]="{ 'section': i+1 }"
            [class.active]="currSection === i+1"
            style="width: 100%;"
        >
            {{ getFormattedGameDateByIndex(i, false) }}
        </app-small-button>
    </app-side-box>


    <!-- Invalid Section : -->
    <app-inner-box *ngIf="isInInvalidSection()" class="main-box blue medium">
        <p>Contenu Inexistant</p>
    </app-inner-box>


    <!-- Statistic Section : -->
    <app-inner-box *ngIf="isInStatsSection()" class="main-box blue medium scrollable">
        <h1 class="title">Statistiques générales</h1>

        <ng-container *ngIf="sectionData.playerStats.statistics.globalGrading.grade !== 'XF'; else noStatistics">
            <app-grading-line
                [key]="'Note'"
                [grading]="sectionData.playerStats.statistics.globalGrading"
                [improvement]="sectionData.playerStats.statistics.globalAccuracyImprovement"
            />

            <app-rollable-box
                *ngIf="notionGradings.length > 0"
                [title]="'Détails par notions :'"
            >
                <app-grading-line
                    *ngFor="let n of notionGradings"
                    [key]="n.key"
                    [grading]="n.grading"
                    [improvement]="n.improvement"
                />
            </app-rollable-box>

            <p>
                Mot par minute : {{ sectionData.playerStats.statistics.wordsPerMinute.toFixed(2) }}
                <span
                    *ngIf="sectionData.playerStats.statistics.wordsPerMinuteImprovement as improvement"
                    [style.color]="improvement > 0 ? 'green' : 'red'"
                >
                    {{ improvement! > 0 ? '+' : '' }}{{ improvement.toFixed(2) }}%
                </span>
            </p>

            <app-mistakes-boxes
                [title]="'Erreurs Communes'"
                [mistakes]="getMostCommonMistakesSimplified()"
            />

            <app-mistakes-boxes
                [title]="'Erreurs Récentes'"
                [mistakes]="getMostRecentMistakesSimplified()"
            />
        </ng-container>

        <ng-template #noStatistics>
            <p>Statistiques Indisponible</p>
            <p>L'utilisateur n'a pas encore était évalué.</p>
        </ng-template>
    </app-inner-box>

    <app-inner-box *ngIf="isInStatsSection()" class="main-box blue little">
        <h1 class="title">Classement</h1>
        <ng-container *ngIf="sectionData.leaderboard !== undefined; else noLeaderboard">
            <app-user-card
                *ngFor="let lbuserId of sectionData.leaderboard.ranking"
                [userId]="lbuserId"
                class="horizontal"
            />
        </ng-container>

        <ng-template #noLeaderboard>
            <p>Classement Indisponible</p>
        </ng-template>
    </app-inner-box>


    <!-- History Sections : -->
    <app-inner-box *ngIf="isInHistorySections()" class="main-box blue medium scrollable">
        <h1 class="title">Partie du {{ getFormattedGameDate(true) }}</h1>

        <p>
            Réponse affichées :
            <span [style.color]="sectionData.playerResults.answersShown ? 'green' : 'red'">
                {{ sectionData.playerResults.answersShown ? "Oui" : "Non" }}
            </span>
        </p>

        <app-grading-line
            [key]="'Note'"
            [grading]="sectionData.playerResults.results.globalGrading"
        />

        <app-rollable-box
            *ngIf="notionGradings.length > 0"
            [title]="'Détails par notions :'"
        >
            <app-grading-line
                *ngFor="let n of notionGradings"
                [key]="n.key"
                [grading]="n.grading"
            />
        </app-rollable-box>

        <p>
            Mot par minute :
            {{ sectionData.playerResults.results.wordsPerMinute.toFixed(2) }}
        </p>

        <app-mistakes-boxes
            [title]="'Erreurs'"
            [mistakes]="sectionData.playerResults.results.mistakes"
        />
    </app-inner-box>

    <app-inner-box *ngIf="isInHistorySections()" class="main-box blue little">
        <h1 class="title">Classment</h1>
        <ng-container *ngIf="sectionData.leaderboard !== undefined; else noLeaderboard">
            <app-user-card
                *ngFor="let lbuserId of sectionData.leaderboard.ranking"
                [userId]="lbuserId"
                class="horizontal"
            />
        </ng-container>

        <ng-template #noLeaderboard>
            <p>Classement Indisponible</p>
        </ng-template>
    </app-inner-box>

</app-template>