
@if (question) {
    <div #headerRef class="header">
        <div class="question-container">
            <div class="question">
                <p>{{ question.prompt }}</p>
            </div>
            <div class="answer">
                <span
                    *ngFor="let input of inputs; let i = index"
                    [ngClass]="[input.status, i === cursorPosition ? 'cursor' : '']"
                >
                    {{ input.letter }}
                </span>
            </div>
        </div>
    </div>
} @else {
    <div #headerRef class="header">
        <div class="question-container">
            <div class="question">
                <p>Chargement de la question ...</p>
            </div>
            <div class="answer"></div>
        </div>
    </div>
}


<div class="score-container">
    <p>Score : {{ generalScore }}</p>
</div>

<canvas #gameCanvas class="game"></canvas>
<img id="background" src="../../../../assets/images/game/world/background.png">

<div class="player-icon-container">
    <img id="player-icon" [src]="localPlayerIconUrl" *ngIf="localPlayerIconUrl">
    <img id="ally1-icon" [src]="player1IconUrl" *ngIf="player1IconUrl">
    <img id="ally2-icon" [src]="player2IconUrl" *ngIf="player2IconUrl">
</div>

<div class="encrypt-overlay" [class.visible]="isEncrypted"></div>
