:host {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 4.7vh;
  width: 11vw;

  font-size: 20px;
  font-weight: bold;

  background-color: #E0E7FA;
  color: #01579b;

  border: 2px solid #b0c4de;
  box-shadow:
    4px 4px 0 #cbdcf5,
    8px 8px 0 rgba(0, 128, 176, 0.1);

  image-rendering: pixelated;
  transition: all 0.2s ease-in-out;
}

:host:hover {
  cursor: pointer;
  background-color: #d0d9f5;
  box-shadow:
    2px 2px 0 #bcd4ee,
    4px 4px 0 rgba(0, 128, 176, 0.1);
}

:host(.active) {
  background-color: #669d94;
  color: #ffffff;
  box-shadow: none;
  border: 2px solid #4b7b75;
}

:host(.active):hover {
  cursor: default;
  background-color: #669d94;
}

:host(.auto-width) {
  width: auto;
}
