<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar class="title">
        <h1> PIXEL TYPER </h1>
    </app-navbar>


    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <div class="container">
            <h2 class="title">Selectionnez votre rôle !</h2>
            <app-choice-button
                class="card1"
                [title]="'Ergothérapeute'"
                [imageUrl]="'../../assets/images/icons/ergo_choice.png'"
                [description]="'Un rôle qui permet de créer des sessions multijoueur, de gérer, créer et suivre une liste d\'enfants.'"
                [routerLink]="['/ergo']"
            />

            <app-choice-button
                class="card2"
                [title]="'Enfant'"
                [imageUrl]="'../../assets/images/icons/child_choice.png'"
                [description]="'Un rôle qui permet de jouer, que ça soit en solo, ou avec ses amis, en rejoignant les sessions créées par l\'Ergo.'"
                [routerLink]="['/home/childs-list']"
            />
        </div>
    </app-body>

</app-template>