<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar class="title">
        <h1> PIXEL TYPER </h1>
    </app-navbar>


    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-big-button [routerLink]="['/ergo']">
            Je suis un ergothérapeute
        </app-big-button>

        <app-big-button [routerLink]="['/home/childs-list']">
            Je suis un enfant
        </app-big-button>
    </app-body>

</app-template>