<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/ergo/child-stats']"
            routerLinkActive="active"
        >
            <app-user-card [user]="user" class="horizontal navbar"/>
        </app-navbar-button>

        <app-navbar-button class="navbar-button"
            [routerLink]="['/ergo/child-config']"
            routerLinkActive="active"
        >
            Configuration
        </app-navbar-button>

        <app-navbar-button
            class="navbar-button red"
            (click)="back()"
        >
            Retour
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box class="main-box blue center-content scrollable" style="width: 83.5%;">
            <app-user-config
                [user]="user"
                (userTemp)="onUserTempChanged($event)"
            />
            <div class="buttons">
                <div class="delete-container">
                    <app-big-button class="delete"
                        [class.grey]="!showDeleted"
                        [class.red]="showDeleted"
                        (click)="removeUser()"
                        >
                        Supprimer
                    </app-big-button>
                    <img
                        src="../../../../assets/images/icons/open_lock.png"
                        alt="Supprimé"
                        class="cap icon"
                        [class.visible]="showDeleted"
                        (click)="putSafety()"
                    />
                    <img
                        src="../../../../assets/images/icons/close_lock.png"
                        alt="Supprimé"
                        class="delete icon"
                        [class.visible]="!showDeleted"
                        (click)="removeSafety()"
                    />
                </div>

                <app-big-button class="save"
                        [class.green]="isValid"
                        [class.grey]="!isValid"
                        (click)="saveChanges()"
                    >
                        Sauvegarder
                </app-big-button>
            </div>
            
        </app-inner-box>
    </app-body>

</app-template>