<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/ergo/child-stats']"
            routerLinkActive="active"
        >
            <p class="name">
                <app-user-card [user]="user" class="horizontal navbar"/>
            </p>
        </app-navbar-button>

        <app-navbar-button class="navbar-button"
            [routerLink]="['/ergo/child-config']"
            routerLinkActive="active"
        >
            Configuration
        </app-navbar-button>

        <app-navbar-button
            class="navbar-button red"
            (click)="back()"
        >
            Retour
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box class="main-box blue center-content scrollable">
            <app-user-config
                [user]="user"
                (userTemp)="onUserTempChanged($event)"
            />
            <div class="save-container">
                <img
                    src="../../../../assets/images/icons/cross.png"
                    alt="Supprimé"
                    class="cross icon"
                    [class.visible]="showDeleted"
                    (click)="removeUser()"
                />
                <img
                    src="../../../../assets/images/icons/cap.png"
                    alt="Supprimé"
                    class="cap icon"
                    [class.visible]="showDeleted"
                    (click)="putSafety()"
                />
                <img
                    src="../../../../assets/images/icons/closedcross.png"
                    alt="Supprimé"
                    class="delete icon"
                    [class.visible]="!showDeleted"
                    (click)="removeSafety()"
                />

                <app-big-button class="save"
                    class="navbar-button"
                    [class.green]="isValid"
                    [class.grey]="!isValid"
                    (click)="saveChanges()"
                >
                    Sauvegarder
                </app-big-button>

                <img
                    src="../../../../assets/images/icons/valid.png"
                    alt="Validé"
                    class="success icon"
                    [class.visible]="showSuccess"
                />
            </div>
        </app-inner-box>
    </app-body>

</app-template>