<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            [routerLink]="['/child/profile']"
            routerLinkActive="active"
        >
            <app-user-card [user]="user" class="horizontal navbar"/>
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/games-list']"
            routerLinkActive="active"
        >
            Liste des parties
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/settings']"
            routerLinkActive="active"
        >
            Options
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <!-- Sections' List : -->
        <app-side-box class="button-list">
            <app-small-button
                [routerLink]="[]"
                [queryParams]="{ 'section': 0 }"
                [class.active]="currSection === 0"
                style="width: 100%;"
            >
                Stats
            </app-small-button>

            <p>HISTORIQUE</p>

            @if (gamesInfos.length) {
                @for (info of gamesInfos; let idx = $index; track idx) {
                    @if (info?.date) {
                        <app-small-button
                            [routerLink]="[]"
                            [queryParams]="{ section: idx + 1 }"
                            [class.active]="currSection === idx + 1"
                            style="width:100%"
                        >
                            {{ info.date | date: 'dd/MM/yyyy' }}
                        </app-small-button>
                    }
                }
            }
        </app-side-box>


        <!-- Invalid Section : -->
         @if (isInInvalidSection()) {
            <app-inner-box class="blue medium">
                <p>Contenu Inexistant</p>
            </app-inner-box>
            <!-- Badges Setion :-->
            <app-inner-box class="blue medium">
                <p>Contenu Inexistant</p>
            </app-inner-box>
         }


        <!-- Statistic Section : -->
        @if (isInStatsSection()) {
            <app-inner-box class="blue medium scrollable">
                <h3 class="title">Badges</h3>
                <div class="badge-group">
                <span class="badge-list">
                    @for(badge of badges; let i = $index; track i){
                        <img
                            class="badge"
                            [src]="'../../../../assets/images/icons/' + badge.name + '_' + badge.acquisition + '.png'"
                            [alt]="badge.description"
                            [title]="'Vous avez tué ' +badge.counter + '/200'"
                        >                    
                    }
                </span>
            </div>

            <h3 class="title">Statistiques générales</h3>

            @if (sectionData.playerStats; as ps) {
                @if (ps.statistics.globalGrading.grade !== "XF") {
                    <app-stat-line
                        [title]="'Note'"
                        [value]="ps.statistics.globalGrading"
                        [improvement]="ps.statistics.globalAccuracyImprovement"
                        [withAdvancedStats]="user.config.advancedStats"
                        />

                        <app-rollable-box
                            *ngIf="notionGradings.length > 0"
                            [title]="'Détails par notions'"
                        >
                            <app-stat-line
                                *ngFor="let n of notionGradings"
                                [title]="n.key"
                                [value]="n.grading"
                                [improvement]="n.improvement"
                                [withAdvancedStats]="user.config.advancedStats"
                            />
                        </app-rollable-box>

                        <app-stat-line
                            [title]="'Mots par minutes'"
                            [value]="ps.statistics.wordsPerMinute"
                            [improvement]="ps.statistics.wordsPerMinuteImprovement"
                            [withAdvancedStats]="user.config.advancedStats"
                        />
                    } @else {
                        <p>Statistiques Indisponibles</p>
                        <p>L'utilisateur n'a pas encore été évalué.</p>
                    }
                } @else {
                    <p>Chargement des statistiques...</p>
                }
            </app-inner-box>

            @if (user.config.leaderBoard) {
                <app-inner-box class="blue little">
                    <h1 class="title">Classement</h1>

                    @if (sectionData.leaderboard === undefined) {
                        <p>Classement Indisponible</p>
                    }

                    @if (sectionData.leaderboard; as leaderboard) {
                        @for (lbuserId of leaderboard.ranking; let i = $index; track lbuserId) {
                            <app-player-in-leaderboard
                                [userId]="lbuserId"
                                [grading]="leaderboard.gradingPerPlayer[i]"
                                class="horizontal classement"
                            />
                        }

                    } @else {
                        <p>Chargement du classement...</p>
                    }
                </app-inner-box>
            }

        }


        <!-- History Sections : -->
        @if (isInHistorySections()) {
            <app-inner-box class="blue medium scrollable">
                @if (sectionData.playerResults; as pr) {
                    <h1 class="title">Partie du {{ sectionData.gameInfo.date | date:'dd/MM/yyyy HH:mm' }}</h1>

                    <app-stat-line
                        [title]="'Note'"
                        [value]="sectionData.playerResults.results.globalGrading"
                        [withAdvancedStats]="user.config.advancedStats"
                    />

                    <app-rollable-box
                        *ngIf="notionGradings.length > 0"
                        [title]="'Détails par notions'"
                    >
                        @for (n of notionGradings; track n.key) {
                            <app-stat-line
                                [title]="n.key"
                                [value]="n.grading"
                                [withAdvancedStats]="user.config.advancedStats"
                            />
                        }
                    </app-rollable-box>

                    <app-stat-line
                        [title]="'Mots par minutes'"
                        [value]="sectionData.playerResults.results.wordsPerMinute"
                        [withAdvancedStats]="user.config.advancedStats"
                    />

                    <div class="badge-group">
                        <h3>Récompenses acquises :</h3>

                        <!-- TODO : Supporting dynamic badges -->

                        <span class="badge-list">
                            <img class="badge" src="../../../../assets/images//icons/gold_trophy.png" alt="Vous avez eu le score le plus élevé" title="Vous avez eu le score le plus élevé">
                            <img class="badge" src="../../../../assets/images//icons/silver_trophy.png" alt="Vous avez eu un très bon score" title="Vous avez eu un très bon score">
                            <img class="badge" src="../../../../assets/images//icons/copper_trophy.png" alt="Vous avez fait de votre mieux" title="Tout le monde à le droit à une petite récompense">
                        </span>
                    </div>
                } @else {
                    <p>Chargement des résultats...</p>
                }
            </app-inner-box>

            @if (user.config.leaderBoard) {
                <app-inner-box class="main-box blue little">
                    <h1 class="title">Classement</h1>

                    @if(sectionData.leaderboard === undefined) {
                        <p>Classement Indisponible</p>
                    }

                    @if (sectionData.leaderboard; as leaderboard) {
                        @for (lbuserId of leaderboard.ranking; let i = $index; track lbuserId) {
                            <app-player-in-leaderboard
                                [userId]="lbuserId"
                                [grading]="leaderboard.gradingPerPlayer[i]"
                                class="horizontal classement"
                            />
                        }
                    } @else {
                        <p>Chargement du classement...</p>
                    }
                </app-inner-box>
            }
        }
    </app-body>

</app-template>