<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            [routerLink]="['/child/profile']"
            routerLinkActive="active"
        >
            <p class="name">
                <app-user-card [user]="user" class="horizontal navbar"/>
            </p>
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/joining-games']"
            routerLinkActive="active"
        >
            Jouer
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/settings']"
            routerLinkActive="active"
        >
            Options
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <!-- Sections' List : -->
        <app-side-box class="button-list">
            <app-small-button
                [routerLink]="[]"
                [queryParams]="{ 'section': 0 }"
                [class.active]="currSection === 0"
                style="width: 100%;"
            >
                Stats
            </app-small-button>

            <p>HISTORIQUE :</p>

            <ng-container *ngIf="gamesInfos?.length">
                <ng-container *ngFor="let info of gamesInfos; let idx = index">
                <app-small-button
                    [routerLink]="[]"
                    [queryParams]="{ section: idx+1 }"
                    [class.active]="currSection === idx+1"
                    style="width:100%"
                    *ngIf="info?.date"
                >
                    {{ info.date | date:'dd/MM/yyyy' }}
                </app-small-button>
                </ng-container>
            </ng-container>
        </app-side-box>


        <!-- Invalid Section : -->
        <app-inner-box *ngIf="isInInvalidSection()" class="blue medium">
            <p>Contenu Inexistant</p>
        </app-inner-box>


        <!-- Statistic Section : -->
        <app-inner-box *ngIf="isInStatsSection()" class="blue medium scrollable">
            
            <div class="badge-group">
                <h3>Badges acquis :</h3>
                <span class="badge-list">
                    <img class="badge" src="../../../../assets/images//icons/crab_killer_trophy.png" alt="Eliminer 200 crabes" title="Eliminer 200 crabes">
                    <img class="badge" src="../../../../assets/images//icons/defender_trophy.png" alt="Vous avez atteint un score de plus de 1000 points" title="Vous avez atteint un score de plus de 1000 points">
                    <img class="badge" src="../../../../assets/images//icons/zap_trophy.png" alt="Vous êtes sorti de l'état électrique 50 fois" title="Vous êtes sorti de l'état électrique 50 fois">
                </span>
            </div>

            <h3 class="title">Statistiques générales</h3>

            <ng-container *ngIf="sectionData.playerStats as ps; else loadingStatistics">
                <ng-container *ngIf="ps.statistics.globalGrading.grade !== 'XF'; else noStatistics">
                    <app-grading-line
                        [key]="'Note'"
                        [grading]="ps.statistics.globalGrading"
                        [improvement]="ps.statistics.globalAccuracyImprovement"
                    />

                    <app-rollable-box
                        *ngIf="notionGradings.length > 0"
                        [title]="'Détails par notions :'"
                    >
                        <app-grading-line
                            *ngFor="let n of notionGradings"
                            [key]="n.key"
                            [grading]="n.grading"
                            [improvement]="n.improvement"
                        />
                    </app-rollable-box>

                    <p>
                        Mot par minute : {{ ps.statistics.wordsPerMinute.toFixed(2) }}
                        <span
                            *ngIf="user.userConfig.advancedStats && ps.statistics.wordsPerMinuteImprovement as improvement"
                            [style.color]="improvement > 0 ? 'green' : 'red'"
                        >
                            {{ improvement! > 0 ? '+' : '' }}{{ improvement.toFixed(2) }}%
                        </span>
                    </p>
                </ng-container>

                <ng-template #noStatistics>
                    <p>Statistiques Indisponible</p>
                    <p>L'utilisateur n'a pas encore été évalué.</p>
                </ng-template>
            </ng-container>
            <ng-template #loadingStatistics>
                <p>Chargement des statistiques...</p>
            </ng-template>
        </app-inner-box>

        <app-inner-box *ngIf="isInStatsSection() && user.userConfig.leaderBoard" class="blue little">
            <h1 class="title">Classement</h1>

            <ng-template *ngIf="sectionData.leaderboard === undefined">
                <p>Classement Indisponible</p>
            </ng-template>

            <ng-container *ngIf="sectionData.leaderboard as leaderboard; else loadingLeaderboar">
                <app-user-card
                    *ngFor="let lbuserId of leaderboard.ranking"
                    [userId]="lbuserId"
                    class="horizontal"
                />
            </ng-container>
            <ng-template #loadingLeaderboar>
                <p>Chargement du classement...</p>
            </ng-template>
        </app-inner-box>


        <!-- History Sections : -->
        <app-inner-box *ngIf="isInHistorySections()" class="blue medium scrollable">
            <ng-container *ngIf="sectionData.playerResults as pr; else loadingResults">
                <h1 class="title">Partie du {{ sectionData.gameInfo.date | date:'dd/MM/yyyy HH:mm' }}</h1>

                <app-grading-line
                    [key]="'Note'"
                    [grading]="sectionData.playerResults.results.globalGrading"
                />

                <app-rollable-box
                    *ngIf="notionGradings.length > 0"
                    [title]="'Détails par notions :'"
                >
                    <app-grading-line
                        *ngFor="let n of notionGradings"
                        [key]="n.key"
                        [grading]="n.grading"
                    />
                </app-rollable-box>

                <p>
                    Mot par minute :
                    {{ sectionData.playerResults.results.wordsPerMinute.toFixed(2) }}
                </p>

                <div class="badge-group">
                    <h3>Récompenses acquises :</h3>

                    <span class="badge-list">
                        <img class="badge" src="../../../../assets/images//icons/gold_trophy.png" alt="Vous avez eu le score le plus élevé" title="Vous avez eu le score le plus élevé">
                        <img class="badge" src="../../../../assets/images//icons/silver_trophy.png" alt="Vous avez eu un très bon score" title="Vous avez eu un très bon score">
                        <img class="badge" src="../../../../assets/images//icons/copper_trophy.png" alt="Vous avez fait de votre mieux" title="Vous avez fait de votre mieux et vous êtes récompensés pour ça">
                    </span>
                </div>
            </ng-container>
            <ng-template #loadingResults>
                <p>Chargement des résultats...</p>
            </ng-template>
        </app-inner-box>

        <app-inner-box *ngIf="isInHistorySections() && user.userConfig.leaderBoard" class="main-box blue little">
            <h1 class="title">Classment</h1>

            <ng-template *ngIf="sectionData.leaderboard === undefined">
                <p>Classement Indisponible</p>
            </ng-template>

            <ng-container *ngIf="sectionData.leaderboard as leaderboard; else loadingLeaderboar">
                <app-user-card
                    *ngFor="let lbuserId of leaderboard.ranking"
                    [userId]="lbuserId"
                    class="horizontal"
                />
            </ng-container>
            <ng-template #loadingLeaderboar>
                <p>Chargement du classement...</p>
            </ng-template>
        </app-inner-box>
    </app-body>

</app-template>