<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <h1 class="navbar-text">
        Qui suis-je ?
    </h1>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-inner-box class="main-box blue">
        <app-user-list/>
    </app-inner-box>

</app-template>