:host {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 20vh;
    background-image: url('../../../../assets/images/environement/sky.gif');
    background-size: cover;
    background-position: center;
}

:host(.title) {
    ::ng-deep h1 {
        position: relative;
        bottom: 2.3vh;
        font-size: 100px;
        color: #11262d;
    }
}

:host(.subtitle) {
    ::ng-deep h1 {
        position: relative;
        bottom: 2.3vh;
        font-size: 50px;
        color: #11262d;
    }
}
