<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/child/game-lobby']"
            routerLinkActive="active"
        >
            Lancement de la partie
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        @if (!inCountdown) {
            <div class="lobby">
                <div class="tuto-box-1">
                    <img class="tuto" src="../../../../assets/images/icons/tuto1.png">
                    <img class="tuto" src="../../../../assets/images/icons/tuto2.png">
                </div>

                <app-inner-box class="blue little">
                    <p class="title">Joueurs en attente</p>
                    @for (playerId of waitingGame.playersId; track playerId) {
                        <app-user-card
                            [userId]="playerId"
                            class="horizontal lobby unclickable"
                        />
                    }
                </app-inner-box>

                <div class="tuto-box-2">
                    <img class="tuto" src="../../../../assets/images/icons/tuto3.png">
                    <img class="tuto" src="../../../../assets/images/icons/tuto4.png">
                </div>
            </div>
        } @else {
            <div class="countdown-container">
                @if (countdown > 0) {
                    <div class="countdown-number animate">{{ countdown }}</div>
                } @else {
                    <div class="countdown-number go-message animate"> GO ! </div>
                }
            </div>
        }
    </app-body>

</app-template>