<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            [routerLink]="['/child/profile']"
            routerLinkActive="active"
        >
            <app-user-card [user]="user" class="horizontal navbar"/>
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/joining-games']"
            routerLinkActive="active"
        >
            Jouer
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/settings']"
            routerLinkActive="active"
        >
            Options
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box *ngIf="games && games.length" class="scrollable column no-background medium" style="width: 35vw;">
            <app-game-card *ngFor="let game of games"
                [gameId]="game.gameId"
                [playerCount]="game.players.length"
                (click)="joinGame(game.gameId)"
            >
            </app-game-card>
        </app-inner-box>
        <p *ngIf="!games || !games.length">En attente de parties...</p>
    </app-body>

</app-template>