<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            [routerLink]="['/child/profile']"
            routerLinkActive="active"
        >
            <p class="name">
                <app-user-card [user]="user" class="horizontal navbar"/>
            </p>
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/joining-games']"
            routerLinkActive="active"
        >
            Jouer
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/settings']"
            routerLinkActive="active"
        >
            Options
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box *ngIf="lobbies && lobbies.length" class="scrollable column no-background small">
            <app-lobby-card *ngFor="let lobby of lobbies"
                [lobbyId]="lobby.lobbyId"
                [playerCount]="lobby.players.length"
                (click)="joinLobby(lobby.lobbyId)"
            >
            </app-lobby-card>
        </app-inner-box>
    </app-body>

</app-template>