<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/ergo/child-stats']"
            routerLinkActive="active"
        >
            <app-user-card [user]="user" class="horizontal navbar"/>
        </app-navbar-button>

        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/ergo/child-config']"
            routerLinkActive="active"
        >
            Configuration
        </app-navbar-button>

        <app-navbar-button
            class="navbar-button red"
            (click)="back()"
        >
            Retour
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <!-- Sections' List : -->
        <app-side-box class="button-list">
            <app-small-button
                [routerLink]="[]"
                [queryParams]="{ 'section': 0 }"
                [class.active]="currSection === 0"
                style="width: 100%;"
            >
                Stats
            </app-small-button>

            <p>HISTORIQUE :</p>

            <ng-container *ngIf="gamesInfos?.length">
                <ng-container *ngFor="let info of gamesInfos; let idx = index">
                <app-small-button
                    [routerLink]="[]"
                    [queryParams]="{ section: idx+1 }"
                    [class.active]="currSection === idx+1"
                    style="width:100%"
                    *ngIf="info?.date"
                >
                    {{ info.date | date:'dd/MM/yyyy' }}
                </app-small-button>
                </ng-container>
            </ng-container>
        </app-side-box>


        <!-- Invalid Section : -->
        <app-inner-box *ngIf="isInInvalidSection()" class="main-box blue medium">
            <p>Contenu Inexistant</p>
        </app-inner-box>


        <!-- Statistic Section : -->
        <app-inner-box *ngIf="isInStatsSection()" class="main-box blue medium scrollable">
            <h1 class="title">Statistiques générales</h1>

            <ng-container *ngIf="sectionData.playerStats as ps; else loadingStatistics">
                <ng-container *ngIf="sectionData.playerStats.statistics.globalGrading.grade !== 'XF'; else noStatistics">
                    <app-grading-line
                        [key]="'Note'"
                        [grading]="sectionData.playerStats.statistics.globalGrading"
                        [improvement]="sectionData.playerStats.statistics.globalAccuracyImprovement"
                    />

                    <app-rollable-box
                        *ngIf="notionGradings.length > 0"
                        [title]="'Détails par notions :'"
                    >
                        <app-grading-line
                            *ngFor="let n of notionGradings"
                            [key]="n.key"
                            [grading]="n.grading"
                            [improvement]="n.improvement"
                        />
                    </app-rollable-box>

                    <p>
                        Mots par minute : {{ sectionData.playerStats.statistics.wordsPerMinute.toFixed(2) }}
                        <span
                            *ngIf="sectionData.playerStats.statistics.wordsPerMinuteImprovement as improvement"
                            [style.color]="improvement > 0 ? 'green' : 'red'"
                        >
                            {{ improvement! > 0 ? '+' : '' }}{{ improvement.toFixed(2) }}%
                        </span>
                    </p>

                    <app-mistakes-boxes
                        [title]="'Erreurs Communes'"
                        [mistakes]="getMostCommonMistakesSimplified()"
                    />

                    <app-mistakes-boxes
                        [title]="'Erreurs Récentes'"
                        [mistakes]="getMostRecentMistakesSimplified()"
                    />
                </ng-container>

                <ng-template #noStatistics>
                    <p>Statistiques Indisponible</p>
                    <p>L'utilisateur n'a pas encore était évalué.</p>
                </ng-template>
            </ng-container>
            <ng-template #loadingStatistics>
                <p>Chargement des statistiques...</p>
            </ng-template>

        </app-inner-box>

        <app-inner-box *ngIf="isInStatsSection()" class="main-box blue little">
            <h1 class="title">Classement</h1>

            <ng-template *ngIf="sectionData.leaderboard === undefined">
                <p>Classement Indisponible</p>
            </ng-template>

            <ng-container *ngIf="sectionData.leaderboard as leaderboard; else loadingLeaderboar">
                <app-user-card
                    *ngFor="let lbuserId of leaderboard.ranking"
                    [userId]="lbuserId"
                    class="horizontal unclickable classement"
                />
            </ng-container>
            <ng-template #loadingLeaderboar>
                <p>Chargement du classement...</p>
            </ng-template>
        </app-inner-box>


        <!-- History Sections : -->
        <app-inner-box *ngIf="isInHistorySections()" class="main-box blue medium scrollable">
            <ng-container *ngIf="sectionData.playerResults as pr; else loadingResults">
                <h1 class="title">Partie du {{ sectionData.gameInfo.date | date:'dd/MM/yyyy HH:mm' }}</h1>

                <div class="section-block">
                    <div class="info-line">
                        <strong>Réponses affichées :</strong>
                        <span [style.color]="sectionData.playerResults.answersShown ? 'green' : 'red'">
                        {{ sectionData.playerResults.answersShown ? "Oui" : "Non" }}
                        </span>
                    </div>

                    <app-grading-line
                        [key]="'Note'"
                        [grading]="sectionData.playerResults.results.globalGrading"
                    />
                </div>

                <app-rollable-box
                    *ngIf="notionGradings.length > 0"
                    [title]="'Détails par notions :'"
                >
                    <app-grading-line
                        *ngFor="let n of notionGradings"
                        [key]="n.key"
                        [grading]="n.grading"
                    />
                </app-rollable-box>

                <div class="section-block">
                    <div class="info-line">
                        <strong>Mots par minute :</strong>
                        <span>{{ sectionData.playerResults.results.wordsPerMinute.toFixed(2) }}</span>
                    </div>
                </div>

                <app-mistakes-boxes
                    [title]="'Erreurs'"
                    [mistakes]="sectionData.playerResults.results.mistakes"
                />
            </ng-container>
            <ng-template #loadingResults>
                <p>Chargement des résultats...</p>
            </ng-template>
        </app-inner-box>

        <app-inner-box *ngIf="isInHistorySections()" class="main-box blue little">
            <h1 class="title">Classement</h1>

            <ng-template *ngIf="sectionData.leaderboard === undefined">
                <p>Classement Indisponible</p>
            </ng-template>

            <ng-container *ngIf="sectionData.leaderboard as leaderboard; else loadingLeaderboar">
                <app-user-card
                    *ngFor="let lbuserId of leaderboard.ranking"
                    [userId]="lbuserId"
                    class="horizontal unclickable classement"
                />
            </ng-container>
            <ng-template #loadingLeaderboar>
                <p>Chargement du classement...</p>
            </ng-template>
        </app-inner-box>
    </app-body>

</app-template>