<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="red"
            [routerLink]="['/ergo/games-manager']"
            routerLinkActive="active"
        >
            Retour
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/ergo/game-lobby']"
            routerLinkActive="active"
        >
            Gestionnaire de parties
        </app-navbar-button>

        <app-navbar-button
            class="green"
            (click)="startGame()"
        >
            Démarrer
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box class="main-box blue little scrollable">
            @if (inWaitingGame) {
                <p class="title">Joueurs en attente</p>

                @if (gameLobby.playersId.length === 0) {
                    <p> En attente de joueurs... </p>
                } @else {
                    @for (playerId of gameLobby.playersId; track playerId) {
                        <app-player-in-lobby
                            [userId]="playerId"
                            style="
                                --lobby-icon-size: 2rem;
                                --lobby-font-size: 0.8rem;
                                --lobby-padding: 0rem;
                            "
                        />
                    }
                }

            } @else if (inRunningGame) {
                <p>La partie est en cours !</p>
            }
        </app-inner-box>

        <app-inner-box class="main-box blue medium">
            <span>
                Encryptage des questions :
                <app-settings-toggle/>
            </span>
            <span>
                Temps de la partie : 20min
            </span>
            <span>
                Fréquence d'apparition des méduses :
                <app-settings-slider/>
            </span>
            <span>
                Fréquence d'apparition des crabes :
                <app-settings-slider/>
            </span>
            <span>
                Vitesse des crabes :
                <app-settings-slider/>
            </span>
        </app-inner-box>
    </app-body>

</app-template>