<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-medium-button class="navbar-button" [routerLink]="['/child-stats']" routerLinkActive="active" (click)="saveChanges()"><p class="name">
        <app-user-card [user]="user" class="horizontal navbar"/>
    </app-medium-button>

    <app-medium-button class="navbar-button" [routerLink]="['/child-play']" routerLinkActive="active" (click)="saveChanges()">
        Jouer
    </app-medium-button>

    <app-medium-button class="navbar-button" [routerLink]="['/child-config']" routerLinkActive="active">
        Personnalisation
    </app-medium-button>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-inner-box class="main-box blue">
        <app-user-config
            [user]="user"
            (userTemp)="onUserTempChanged($event)"
        />
    </app-inner-box>

</app-template>