<app-template>
    <!--Zone de la navbar -->
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-config-selected']" routerLinkActive="active"><p class="name">{{user.name}}</p></app-medium-button>
    <app-medium-button 
        class="navbar-button red"
        (click)="cancelChanges()"
        > Retour 
    </app-medium-button>
    <app-medium-button 
        class="navbar-button green"
        (click)="saveChanges()"
        > Sauvegarder 
    </app-medium-button>

    <!--Zone du main -->
    <app-inner-box class="main-box blue">
        <app-user-config 
            [user]="user" 
            (userTemp)="onUserTempChanged($event)">
        </app-user-config>
    </app-inner-box>
</app-template>