.name {
    text-align: left;
    width: 55%;
    position: relative;
    left: 3rem;
}

.save-container {
    bottom: -3rem;
    position: relative;
    //display: inline-block;
    display: flex;
    flex-direction: row;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        display: none;
    }

    .delete .cross .cap{
        left: -2rem;
    }

    .cap{
        top:-1.5rem;
    }

    .icon.visible {
        display: inline;
    }

    .success.icon {
        right: 0rem;
        top: 0.1rem;
        animation: fadeInOut 2s ease;
    }
    .success.icon:not(.visible) {
        animation: none;
    }
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(5px); }
    10% { opacity: 1; transform: translateX(0); }
    90% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(5px); }
}
