:host {
    border-radius: 20px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: hidden;
    height: 70vh;
    width: 77vh;
    padding:1%;
    margin: 1%;
}

:host(.blue) {
    background-color: #E0E7FA;
    color: black;
}


:host(.big) {
    width: 50vw;
}

:host(.medium) {
    width: 45vw;
    overflow-x: hidden;
}

:host(.little) {
    width: 40vh;
    flex-direction: column;
    align-items: center;
    align-content: normal;
    overflow-x: hidden;
}

:host(.button-list) {
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 20vh;
    color: #000000;
    font-size: large;
    font-weight: bold;
    overflow-x: hidden;
}

:host(.scrollable) {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    transition: scrollbar-color 0.5s;
    scrollbar-color: rgba(128, 128, 128, 0) transparent;
} :host(.scrollable):hover {
    scrollbar-color: rgba(100, 100, 100, 0.7) transparent;
} :host(.scrollable)::-webkit-scrollbar {
    // NOTE : Doesn't work on all browser
    width: 3px;
}