<app-template>
    <!--Zone de la navbar -->
    <app-medium-button class="navbar-button" [routerLink]="['/child-config']" routerLinkActive="active"><p class="name">
        <app-user-card [user]="user" class="horizontal navbar"/>
    </app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/child-play']" routerLinkActive="active"> Jouer </app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/child-stats']" routerLinkActive="active"> Mon classement </app-medium-button>

    <!--Zone du main -->
    <app-side-box class="main-box button-list">
        <app-small-button
            [routerLink]="[]"
            [queryParams]="{ 'section': 0 }"
            [ngClass]="[currSection === 0 ? 'active' : '']"
            style="width: 100%;"
        >
            <!-- [class.active]="currSection === 0" -->
            Stats
        </app-small-button>

        <p>HISTORIQUE :</p>

        <app-small-button
            *ngFor="let i of availableHistorySections;"
            [routerLink]="[]"
            [queryParams]="{ 'section': i+1 }"
            [ngClass]="[currSection === i+1 ? 'active' : '']"
            style="width: 100%;"
        >
            {{ getFormattedGameDateByIndex(i, false) }}
        </app-small-button>
    </app-side-box>

    <!-- Invalid Section : -->
    <app-inner-box *ngIf="isInInvalidSection()" class="main-box blue medium">
        <p>Contenu Inexistant</p>
    </app-inner-box>

    <!-- Statistic Section : -->
    <app-inner-box *ngIf="isInStatsSection()" class="main-box blue medium">
        <h1 class="title">Statistiques générales</h1>

        <p>Note : {{ sectionData.playerStats.resultsSummary.globalGrading.grade }} ({{ sectionData.playerStats.resultsSummary.globalGrading.accuracy }}%)</p>

        <p *ngIf="notionGradings.length > 0">Détails par notions :</p>
        <p *ngFor="let n of notionGradings">
            {{ n.key }} : {{ n.grade }} ({{ n.accuracy }}%)
        </p>

        <p>Réponse affichées : {{ sectionData.playerStats.answersShown ? "Oui" : "Non" }}</p>
    </app-inner-box>
    <app-inner-box *ngIf="isInStatsSection()" class="main-box blue little">
        <h1 class="title">Classment</h1>
        <p>Classement Indisponible</p>
    </app-inner-box>

    <!-- History Sections : -->
    <app-inner-box *ngIf="isInHistorySections()" class="main-box blue medium scrollable">
        <h1 class="title">Partie du {{ getFormattedGameDate(true) }}</h1>

        <p>Note : {{ sectionData.playerResults.results.globalGrading.grade }} ({{sectionData.playerResults.results.globalGrading.accuracy}}%)</p>

        <app-rollable-box
            *ngIf="notionGradings.length > 0"
            [title]="'Détails par notions :'"
        >
            <p *ngFor="let n of notionGradings">
                {{ n.key }} : {{ n.grade }} ({{ n.accuracy }}%)
            </p>
        </app-rollable-box>

        <p>Réponse affichées : {{ sectionData.playerResults.answersShown ? "Oui" : "Non" }}</p>
    </app-inner-box>
    <app-inner-box *ngIf="isInHistorySections()" class="main-box blue little">
        <h1 class="title">Classment</h1>
        <app-user-card
            *ngFor="let lbuserId of sectionData.leaderboard!.ranking"
            [userId]="lbuserId"
            class="horizontal"
        />
    </app-inner-box>

</app-template>