<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            class="navbar-button"
            [routerLink]="['/child/games-list']"
            routerLinkActive="active"
        >
            Lancement de la partie
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
        <app-inner-box class="main-box blue little">
            <app-user-card
                *ngFor="let player of players"
                [user]="player"
                class="horizontal lobby unclickable"
            ></app-user-card>
        </app-inner-box>
    </app-body>

</app-template>