<app-template>
    <app-medium-button class="navbar-button red"
        (click)="back()"
        >Retour 
    </app-medium-button>
    <app-medium-button class="navbar-button"
        [routerLink]="['/ergo-config-form']"
        routerLinkActive="active"
        >Configuration 
    </app-medium-button>
    <app-medium-button 
        class="navbar-button" 
        [class.green]="isValid"
        [class.grey]="!isValid"
        (click)="createUser()"
        >Créer
    </app-medium-button>

    <app-inner-box class="main-box blue">
        <app-user-config 
            [user]="userBlank" 
            (userTemp)="onUserTempChanged($event)">
        </app-user-config>
    </app-inner-box>
</app-template>