<app-template>
    <!--Zone de la navbar -->
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-list']" routerLinkActive="active">Liste des joueurs</app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-play']" routerLinkActive="active"> Jeu </app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/']">Lobby</app-medium-button>

    <!--Zone du main -->
    <app-big-button class="main-box orange" [routerLink]="['/ergo-lobby']"> Lancer la partie </app-big-button>
   
</app-template>