<app-template>

    <!--------------------------------------------------------------------------
    ---                              NAVBAR                                  ---
    --------------------------------------------------------------------------->

    <app-navbar>
        <app-navbar-button
            [routerLink]="['/child/profile']"
            routerLinkActive="active"
            (click)="saveChanges()"
        >
            <app-user-card [user]="user" class="horizontal navbar"/>
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/games-list']"
            routerLinkActive="active"
            (click)="saveChanges()"
        >
            Liste des parties
        </app-navbar-button>

        <app-navbar-button
            [routerLink]="['/child/settings']"
            routerLinkActive="active"
        >
            Options
        </app-navbar-button>
    </app-navbar>



    <!--------------------------------------------------------------------------
    ---                               MAIN                                   ---
    --------------------------------------------------------------------------->

    <app-body>
       
    </app-body>

</app-template>