<p class="grading-line">
    <!-- Clé en noir -->
    <span class="key">{{ key }}</span>
    &nbsp;

    <!-- Deux-points de séparation -->
    <span class="sep">:</span>
    &nbsp;

    <!-- Note colorée dynamiquement -->
    <span class="grade" [style.color]="gradeColor()">{{ grading.grade }}</span>
    &nbsp;

    <span class="accuracy">({{ grading.accuracy }}%)</span>
    &nbsp;
    <!-- Improvement affichée seulement si définie -->
    <ng-container *ngIf="improvement !== undefined">
        <span
            class="improvement"
            [class.positive]="improvement! > 0"
            [class.negative]="improvement! < 0"
        >
            {{ improvement! > 0 ? '+' : '' }}{{ improvement }}%
        </span>
    </ng-container>
</p>



<!--
<p>
@if (withImprovement) {
    <span id="key">{{ key }} :</span> <span id="grade">{{ grading.grade }}</span> <span id="accuracy">({{ grading.accuracy }}% <span id="improvement">+{{ improvement }}%</span>)</span>
} @else {
    <span id="key">{{ key }} :</span> <span id="grade">{{ grading.grade }}</span> <span id="accuracy">({{ grading.accuracy }}%)</span>
}
</p>
-->
