<p class="grading-line">
    <span class="key">{{ key }}</span>

    <span class="sep">&nbsp;:&nbsp;</span>

    <img [src]="gradeIcon" [alt]="grading.grade" class="grade" />

    <ng-container *ngIf="advancedStatsActivated">
        <span class="accuracy">
            &nbsp;({{ grading.accuracy }}%)
        </span>
        <span
            class="improvement"
            [class.positive]="improvement! > 0"
            [class.negative]="improvement! < 0"
            *ngIf="improvement !== 0"
        >
            {{ improvement! > 0 ? '+' : '' }}{{ improvement }}%
        </span>
    </ng-container>
</p>
