.grading-line {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    .key {
        color: black;
        margin-right: 0.25rem;
    }

    .sep {
        margin: 0 0.25rem;
    }

    .grade {
        font-weight: 700;
    }
    .iconGrade {
        height: 2rem;
        width: 2rem;
    }
    .iconImprovement{
        margin-left: 0.5rem;
        height: 2rem;
        width: 2rem;
    }
    .bravoText{
        margin-left: 0.5rem;
    }
    .improvement {
        margin-left: 0.5rem;
        font-weight: 600;

        &.positive {
            color: green;
        }
        &.negative {
            color: red;
        }
    }
}
