@if (user) {
    <div class="header" (click)="toogle()">
        <img class="icon" [src]="'../../assets/images/child-pps/' + user.icon" [alt]="'Icône de ' + user.firstName + ' ' + user.lastName"/>
        <div class="name">
            <p class="first-name">{{ user.firstName }}</p>
            <p class="last-name">{{ user.lastName }}</p>
        </div>
        <button class="toggle-btn" aria-label="Toggle details">
            {{ isUnrolled() ? '－' : '＋' }}
        </button>
    </div>


    <div class="content" *ngIf="isUnrolled()">
        <span >
            Réécriture :
            <app-settings-toggle [(checked)]="notionsMask.REWRITING" (checkedChange)="onMaskChanged()"/>
        </span>

        <span>
            Addition :
            <app-settings-toggle [(checked)]="notionsMask.ADDITION" (checkedChange)="onMaskChanged()"/>
        </span>

        <span>
            Soustraction :
            <app-settings-toggle [(checked)]="notionsMask.SUBSTRACTION" (checkedChange)="onMaskChanged()"/>
        </span>

        <span>
            Multiplication :
            <app-settings-toggle [(checked)]="notionsMask.MULTIPLICATION" (checkedChange)="onMaskChanged()"/>
        </span>

        <span>
            Division :
            <app-settings-toggle [(checked)]="notionsMask.DIVISION" (checkedChange)="onMaskChanged()"/>
        </span>

        <!--
        <span>
            Equation :
            <app-settings-toggle [(checked)]="notionsMask.EQUATION" (checkedChange)="onMaskChanged()"/>
        </span>
        -->
    </div>
}
