<div class="config-section-left">

    <div class="config-group shrink-group">
        <h3>Informations utilisateur</h3>

        <span class="text-line" *ngIf="isInErgoPage">
            <label for="name">Nom* :</label>
            <input id="name" type="text" [(ngModel)]="localUserTemp.name" (ngModelChange)="onChange()" class="underline-input"/>
        </span>

        <span class="text-line" *ngIf="isInErgoPage">
            <label for="age">Âge* :</label>
            <input id="age" type="number" size="2" [(ngModel)]="localUserTemp.age" (ngModelChange)="onChange()" class="underline-input"/> ans
        </span>


        <span *ngIf="!showIconSelector" (click)="showIconSelector = !showIconSelector" class="icon-select-trigger">
            Icône :
            <img [src]="'../../assets/images/child-pps/' + localUserTemp.icon" alt="Icône" height="30" />
        </span>

        <div *ngIf="showIconSelector" class="icon-selector">
            <img
                *ngFor="let icon of availableIcons"
                [src]="'../../assets/images/child-pps/' + icon"
                [alt]="icon"
                class="icon-option"
                (click)="selectIcon(icon)"
            />
        </div>
    </div>

    <div *ngIf="isInErgoPage" class="config-group">
        <h3>Mathématiques*</h3>

        <span >
            Réécriture des nombres :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.REWRITING"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Addition :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.ADDITION"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Soustraction :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.SUBSTRACTION"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Multiplication :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.MULTIPLICATION"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Division :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.DIVISION"
                (checkedChange)="onChange()"
            />
        </span>

        <!--
        <span>
            Equation :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.EQUATION"
                (checkedChange)="onChange()"
            />
        </span>
        -->
        </div>
</div>

<div class="config-section-right">

    <div class="config-group">
        <h3>Options</h3>

        <span>
            Classement :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.leaderBoard"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Statistiques avancées :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.advancedStats"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Aide à la lecture :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.readingAssistance"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Réponses affichées :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.showsAnswer"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Questions cryptées :
            <app-settings-toggle
                [(checked)]="localUserTemp.config.notionsMask.ENCRYPTION"
                (checkedChange)="onChange()"
            />
        </span>
    </div>

    <div class="config-group shrink-group">
        <h3>Affichage</h3>

        <span>
            Taille de la police :
            <span>
                0<app-settings-slider
                    [(value)]="localUserTemp.config.fontSize"
                    (valueChange)="onChange()"
                />1
            </span>
        </span>

        <span>
            Son :
            <span>
                0<app-settings-slider
                    [(value)]="localUserTemp.config.sound"
                    (valueChange)="onChange()"
                />1
            </span>
        </span>
    </div>
</div>
