<div class="config-section">

    <div class="config-group">
        <h3>Informations utilisateur</h3>

        <span *ngIf="isInErgoPage">
            <label for="name">Nom :</label>
            <input id="name" type="text" [(ngModel)]="localUserTemp.name" (ngModelChange)="onChange()" class="underline-input"/>
        </span>

        <span *ngIf="isInErgoPage">
            <label for="age">Âge :</label>
            <input id="age" type="number" size="2" [(ngModel)]="localUserTemp.age" (ngModelChange)="onChange()" class="underline-input"/> ans
        </span>

        <span *ngIf="!showIconSelector" (click)="showIconSelector = !showIconSelector" class="icon-select-trigger">
            Icône :
            <img [src]="'../../assets/images/child-pps/' + localUserTemp.icon" alt="Icône" height="30" />
        </span>

        <div *ngIf="showIconSelector" class="icon-selector">
            <img
                *ngFor="let icon of availableIcons"
                [src]="'../../assets/images/child-pps/' + icon"
                [alt]="icon"
                class="icon-option"
                (click)="selectIcon(icon)"
            />
        </div>
    </div>

    <div class="config-group">
        <h3>Affichage</h3>

        <span>
            Taille de la police :
            <app-settings-slider
                [(value)]="localUserTemp.userConfig.fontSize"
                (valueChange)="onChange()"
            />
        </span>

        <span>
            Son :
            <app-settings-slider
                [(value)]="localUserTemp.userConfig.sound"
                (valueChange)="onChange()"
            />
        </span>
    </div>

    <div class="config-group">
        <h3>Options</h3>

        <span>
            LeaderBoard :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.leaderBoard"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Statistiques avancées :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.advancedStats"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Aide à la lecture :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.readingAssistance"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Réponses affichées :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.showsAnswer"
                (checkedChange)="onChange()"
            />
        </span>

        <span *ngIf="isInErgoPage">
            Questions cryptées :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.encryption"
                (checkedChange)="onChange()"
            />
        </span>
    </div>

    <div *ngIf="isInErgoPage" class="config-group">
        <h3>Mathématiques</h3>

        <span >
            Réécriture des nombres :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.numberRewrite"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Addition :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.addition"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Soustraction :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.soustraction"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Multiplication :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.multiplication"
                (checkedChange)="onChange()"
            />
        </span>

        <span>
            Division :
            <app-settings-toggle
                [(checked)]="localUserTemp.userConfig.division"
                (checkedChange)="onChange()"
            />
        </span>
    </div>
</div>
