:host {
    height: auto;
    width: 100%;
}

.config-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.config-group {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 280px;
}

.config-group h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', monospace;
}

span {
    font-size: 14px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.underline-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Press Start 2P', monospace;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    color: inherit;
}

.underline-input:focus {
    outline: none;
    border-bottom-color: #00ffcc;
}

.icon-select-trigger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.icon-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
}

.icon-option {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.icon-option:hover {
    border-color: #ffae00;
}
